.list-wrapper {
    background: #353b42;
    border-radius: 10px;
    width: 40%;
    margin-right: 5%;
}

.list {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
}

.item {
    border-bottom: 1px solid #414851;
    padding: 5px 0  5px 20px;
}

.list li:last-child {
    border: none;
}
